@font-face {
    font-family: "Deftone";
    src: url('../assets/font/deftone stylus.ttf') format("truetype");
}

@font-face {
    font-family: "Berzerker";
    src: url('../assets/font/Berzerker-Regular.ttf') format("truetype");
}

/**** GLOBAL CLASSES ****/
.draggable {
    -webkit-app-region: drag;
}
.no-drag {
    -webkit-app-region: no-drag;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}



/**** GENERAL ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
*:before, *:after {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
  color: black;
  font-size: 72px;
}

/**** WINDOW CONTROLS ****/
.window-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
}
.fas, .far {
  font-size: 26px;
  margin: 5px;
  cursor: pointer;
}
#btn-close:hover {
  color: red;
}
#btn-maximise:hover {
  color: rgb(239, 144, 19);
}
#btn-minimise:hover {
  color: grey;
}

/**** BACKGROUND ****/
.background {
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: black;
  background-image:url('../assets/img/background-6.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.background h1 {
  font-family: "Berzerker";
  color: white;
  letter-spacing: 2px;
  text-align: center;
  padding-right: 7px;
}
.background h3 {
  color: white;
  text-align: center;
  letter-spacing: 3px;
}
.background img {
  margin: 20px 0;
}

/**** GET STARTED BUTTON ****/
.btn-3 {
  background-color: #dd1a13;
  /*#5A5B5E*/
}
.btn-3 .round {
  background-color: #963531;
  /*#737478*/
}
a {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
a span {
  position: relative;
  z-index: 3;
}
a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
a .round i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.txt {
  font-size: 14px;
  line-height: 1.45;
}
.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 12%;
}

/**** LANDING PAGE CONTAINER ****/
.outline {
  border: solid red 2px;
  border-radius: 8px;
}
.landing-page-container {
  padding: 2.5rem;
  background: rgba(0,0,0, 1);
}

/**** LOGIN CONTAINER ****/
.login-form {
  display: none;
}
.login-form h3 {
  color: white;
  text-align: center;
  letter-spacing: 3px;
}
